/* CSS Document */
table.standings-table {
	font-size: 12px;
	border: 1px solid #CCC;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
.standings-table td {
	padding: 4px;
	margin: 3px;
	border: 1px solid #CCC;
}
.standings-table th {
	background-color: #104E8B;
	color: #FFF;
	font-weight: bold;
}
body {
	background-color: lightgoldenrodyellow;
	font-family: sans-serif;
	margin: 0;
}
#disclaimer {
	background-color: #FFFFCC;
	border: #F1E3E3 2px solid;
	margin-left: 1.2em;
	margin-right: 5em;
}
#disclaimer h2 {
	font-size: 1.5em;
	padding-left: 0.5em;
	padding-right: 0.3em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-top: auto;
	margin-left:0;
	background-color: #97bfff;
}
#disclaimer p {
	padding-left: 0.5em;
	padding-right: 0.5em;
	}
nav{
	text-align: center;
	border-style: solid;
	background-color: #97bfff;
	font-size: 17px;
}
h1, h2, p {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
a:hover{color:black}
a:active{color: black}
a:visited{color: darkgoldenrod}
.notebox {
	background-color: #FFFFCC;
	border: #F1E3E3 2px solid;
}
.notebox h2 {
	font-size: 1.5em;
	padding-left: 0.5em;
	padding-right: 0.3em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-top: auto;
	background-color: #97bfff;
}
.notebox p {
	padding-left: 0.5em;
}